<%= form_for @project do |f| %>
 
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@project.errors.count, "error") %> prohibited
        this project from being saved:
      </h2>
      <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% @attrs.each do |attr| %>
    <% if attr != 'id' && attr != 'created_at' && attr != 'updated_at' %>
      <p> 
        <%= f.label attr.capitalize %> <br>
        <%= f.text_field attr %>
      </p>

    <% end %>
  <% end %>
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
